
{% extends 'base_template.html' %}

{% block title %}{{super}} - Listagem {% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid text-uppercase text-center text-dark text-weight-bold">
        <h1 class="display-4">Listagem</h1>
        <h3>Clique em cada botão a seguir para listar uma categoria</h3>
        <p class="text-capitalize">{{ info }}</p>
    </div>
    <section class="bg-dark">
        <br><br><br><br>
        <div class="row col-12 mt-12 w-75 mx-auto">
            <a href="{% url 'go2listarprof' %}" class="col-3 mx-auto">
                <button type="button" class="btn btn-outline-info">Listar Professores</button>
            </a>
  
            <a href="{% url 'go2listaralunos' %}" class="col-3 mx-auto">
                <button type="button" class="btn btn-outline-info">Listar Alunos</button>
            </a>

            <a href="{% url 'go2listarcursos' %}" class="col-3 mx-auto">
                <button type="button" class="btn btn-outline-info">Listar Cursos</button>
            </a>
        </div>
        <br><br><br>
        <br><br>
        <br><br>
    </section>

{% endblock %}