<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CAE | {{ title }}</title>
    <meta name="description" content=" MINICURSO DHANGO 2.2.1 | JUN/2019">
    <meta name="keywords" content="DJANGO, PYTHON, HTML,CSS">
    <meta name="author" content="IDELFRIDES JORGE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/x-icon" href="../../../media/images/favicon-wm-32.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../../../static/style/app_css.css">
    <link rel="stylesheet" href="../../../static/style/mystyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="../../../static/js_files/app_js.js" type="text/javascript" language="javascript"></script>

    <style>
        .carousel-inner{
            width:100%;
            height:500px;
        }
    </style>
</head>
<body class="w-100 m-0 p-0" style="background-color:#E9ECEF;">
    <div class="w-100 mt-0">
        <div id="cae_color">
            <br><br><br>
            <h6> {{ text }} </h6>
        </div>

        <div id="set_zindex" class="shadow-lg p-5 container mt-2 col-md-4 mx-auto rounded fade-in">
            <h1 style="color: rgb(239, 186, 129);"  class="text-muted">Pré-cadastro</h1><br>
            <form class="fade-in" method="POST">

                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="text-muted font-weight-bold">Primeiro Nome</label>
                        <input type="text" class="form-control" name="firstName" placeholder="Enter your first name" required>
                        {% if myform.errors.first_name %}
                            <div class="alert alert-danger alert-dismissible">
                                <button value="{{ myform.first_name }}" type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ myform.errors.first_name }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="text-muted font-weight-bold">Segundo Nome</label>
                        <input  type="text"  class="form-control" name="lastName"  placeholder="Enter your last name" required>
                        {% if myform.errors.last_name %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ myform.errors.last_name }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-muted font-weight-bold">Forma de Tratamento</label>
                    <select id="chamar_id" name="chamar"class="custom-select custom-select-md">
                        <option value="sr" selected>Sr.</option>
                        <option value="sra">Sra.</option>
                        <option value="dr">Dr.</option>
                        <option value="dra">Dra.</option>
                        <option value="mr">Mr.</option>
                        <option value="ld">Lady</option>
                        <option value="nenhuma">Nenhuma</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-muted font-weight-bold">Email</label>
                    <input type="email" class="form-control" name="emailField"  placeholder="Ex.: connectafrica@education.com" required>
                    {% if myform.errors.email %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ myform.errors.email }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-row">
                    <div class="from-group col-md-6">
                        <label class="text-muted font-weight-bold">Password</label>
                        <input type="password"  class="form-control" name="pwdField" placeholder="Enter your password" required>
                    </div>

                    <div class="from-group col-md-6">
                        <label class="text-muted font-weight-bold">Confirm Password</label>
                        <input type="password"  class="form-control" name="pwdConfirmField" placeholder="Confirm your password" required>
                    </div>
                </div>
                <br><br>

                <button type="submit" class="btn btn-primary px-5 w-100">Register</button>
            </form>
        </div>
        <br><br><br><br>
        <br><br><br><br>
        <div class="container mx-auto border border-bottom border-dark">
    </div>
        <br>


</body>
</html>